<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include ../partials/head %>
</head>
<body>
        <% include ../partials/nav %>
        <script src="/smarteditor/workspace/js/service/HuskyEZCreator.js"></script>
        <div class="container post post-edit">
            <% include ./partials/header %>

            <div class="buttons">
                <a class="btn btn-default" href="/sports">뒤로가기</a>
            </div>

            <form id="sports_edit" class="post-form form-horizontal" action="/sports/<%= sport._id %>?_method=put" method="post">
                <div class="contentBox">
                    <h3 class="contentBoxTop">게시물 수정</h3>
                    <fieldset>
                        <div class="form-group <%= (errors.title)?'has-error':'' %>">
                            <label for="title" class="col-sm-2 control-label">Title</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" id="title" name="title" value="<%= sport.title %>">
                                <% if(errors.title){ %>
                                    <span class="help-block"><%= errors.title.message %></span>
                                <% } %>
                            </div>
                        </div>
                        <div class="form-group <%= (errors.body)?'has-error':'' %>">
                            <label for="body" class="col-sm-2 control-label">Body</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" id="body" name="body" rows="5"><%= sport.body %></textarea>
                                <% if(errors.body){ %>
                                    <span class="help-block"><%= errors.body.message %></span>
                                <% } %>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="buttons">
                    <button id="submit_edit" type="submit" class="btn btn-default">확인</button>
                </div>
                <% if(errors.unhandled){ %>
                    <div class="alert alert-danger">
                        <% errors.unhandled %>
                    </div>
                <% } %>
                <script type="text/javascript">

                    var oEditors = [];
                    
                    nhn.husky.EZCreator.createInIFrame({
                    
                        oAppRef: oEditors,
                    
                        elPlaceHolder: "body",
                    
                        sSkinURI: "/smarteditor/workspace/SmartEditor2Skin.html",
                    
                        fCreator: "createSEditor2"
                    
                    });
                    // ‘저장’ 버튼을 누르는 등 저장을 위한 액션을 했을 때 submitContents가 호출된다고 가정한다.
        
                    $("#submit_edit").click(function(){
                    
                    // 에디터의 내용이 textarea에 적용된다.
                    
                    oEditors.getById["body"].exec("UPDATE_CONTENTS_FIELD", []);
                    
                    
                    
                    // 에디터의 내용에 대한 값 검증은 이곳에서
                    
                    // document.getElementById("ir1").value를 이용해서 처리한다.
                    
                    
                    
                    
                    
                        $("#sports_edit").submit();
                    
                    
                    });
                </script>
            </form>
            
        </div>
</body>
</html>