<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include ../partials/head %>
</head>
<body>
    <% include ../partials/nav %>

    <div class="container post post-index">
        <% include ./partials/header %>

    <div class="buttons">
        <% if(isAuthenticated){ %>
        <a class="btn btn-default" href="/sports/new">게시물 작성</a>
        <% } %>
    </div>

    <table class="table table-striped posts">
        <thead>
            <tr>
                <th class="title">Title</th>
                <th class="author">Author</th>
                <th class="date">Date</th>
            </tr>
        </thead>
        <tbody>
            <% if(sports == null || sports.length == 0){ %>
                <tr>
                    <td class="noData" colspan="100"> 게시글이 없습니다. </td>
                </tr>
            <% } %>
            <% sports.forEach(function(sport) { %>
                <tr>
                    <td class="title">
                        <a href="/sports/<%= sport._id %>?page=<%=page%>"><div class="ellipsis"><%= sport.title %></div></a>
                    </td>
                    <td class="author">
                            <div class="ellipsis"><%= sport.author ? sport.author.username : "" %></div>
                        </td>
                    <td class="date">
                        <%= sport.createdDate %>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
    <ul class="pagination pagination-sm justify-content-center">
            <% var offset = 3; %>
            <% for(i=1;i<=maxPage;i++){ %>
                <% if(i<=offset || i>maxPage-offset || (i>=page-(offset-1) && i<=page+(offset-1))){ %>
                    <% if(i != page){ %>
                        <li ><a  href="/sports?page=<%= i %>"><%= i %></a></li>
                    <% } else { %>
                        <li ><a  href="/sports?page=<%= i %>"><%= i %></a></li>
                    <% } %>
                <% } else if(i == offset+1 || i == maxPage-offset){ %>
                    <li ><a  >...</a></li>
                <% } %>
            <% } %>
        </ul>
    </div>
</body>
</html>