<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include ../partials/head %>
</head>
<body>
    <% include ../partials/nav %>

    <div class="container post post-show">
        <% include ./partials/header %>

        <div class="buttons">
            <a class="btn btn-default" href="/posts">뒤로가기</a>
            <a class="btn btn-default" href="/posts/<%= post._id %>/edit">수정하기</a>
            <form action="/posts/<%= post._id %>?_method=delete" method="post">
                <a class="btn btn-default" href="#" onclick="confirm('정말 삭제 하시겠습니까?')?this.parentElement.submit():null;">삭제하기</a>
            </form>
        </div>

        <div class="contentBox">
            <h3 class="contentBoxTop"><%= post.title %></h3>
            <div class="row">
                <div class="col-sm-4 col-sm-push-8">
                    <div class="post-info">
                        <div><span>Created</span> : <%= post.createdDate %> <%= post.createdTime %></div>
                        <% if(post.updatedAt){ %>
                            <div><span>Updated</span> : <%= post.updatedDate %> <%= post.updatedTime %></div>
                        <% } %>
                    </div>
                </div>
                <div class="col-sm-8 col-sm-pull-4">
                    <div class="post-body"><%= post.body %></div>
                </div>
            </div>
        </div>

    </div>   
</body>
</html>